.panel-body {
    margin-top: 50px;
}

.btn {
    display: block;
}

.photo {
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
}

.upload-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.upload-container input {
    flex: 1;
    /* Esto hace que el input ocupe el espacio disponible */
    margin-right: 10px;
    /* Añadir espacio entre el input y el botón */
}

.upload-container button {
    flex-shrink: 0;
    /* Evita que el botón se encoja */
}