.form-container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    border-radius: 2%;
    padding: 15px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.form-row label {
    width: 40%;
    font-weight: bold;
}

input{
    background-color: #e2e2e2;
    text-align: left;
}

select{
    background-color: #e2e2e2;
}

.form-row input,
.form-row select {
    width: 55%;
    padding: 5px;
}

.form-row span {
    width: 55%;
    padding: 5px;
    background-color: #a0a0a0e1;
    border-radius: 4px;
    cursor:not-allowed;
}

.btn-container {
    text-align: center;
    margin-top: 20px;
}

.btn {
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
}

.btn.edit {
    background-color: #3dc444;
    color: #fff;
}

.btn.edit:hover {
    background-color: #0cdf17;
}

.btn-danger {
    background-color: #d9534f;
    color: #fff;
}

.btn-danger:hover {
    background-color: #c9302c;
}

.pp {
    border-radius: 50%;
}