/* Estilos para el modo oscuro */
body.dark-mode {
  background-color: #1c1c1d;
  color: #fefefe;
}
/* Estilo para los enlaces en modo oscuro */
body.dark-mode p {
  color: #ffffff;
}
body.dark-mode a {
  color: #ffffff;
}
body.dark-mode h1{
  color: #ffffff;
}
body.dark-mode h2{
  color: #ffffff;
}
body.dark-mode h3{
  color: #ffffff;
}
body.dark-mode h4{
  color: #ffffff;
}
body.dark-mode strong{
  color: #ffffff;
}
/* Estilo para el botón de modo oscuro en modo claro */
#darkModeToggle {
  background-color: #11a39c;
  color: #343a40;
}
/* Estilo para el botón de modo oscuro en modo oscuro */ 
body.dark-mode #darkModeToggle {
  background-color: #39393a;
  color: #f8f9fa;
}
body.dark-mode textarea{
  background-color: #39393a;
  color: #ffffff;
}
body.dark-mode header{
  background-color: #39393a;
  color: #ffffff;
}
body.dark-mode .panel {
  background-color: #39393a; /* Fondo oscuro para el modo oscuro */
}
body.dark-mode .alert{
  border: 2px solid #ffffff;
}
body.dark-mode hr{
  border-top: 1px solid #ffffff;
}
body.dark-mode .profile-info{
  background-color: #39393a;
}
body.dark-mode .panel {
  background-color: #39393a;
  color: #ffffff;
}
body.dark-mode .label {
  background-color: #39393a;
  color: #ffffff;
}
body.dark-mode .navbar-toggle:hover {
  background-color: #ffffff;
}
body.dark-mode #upload_image {
  background: #1c1c1d;
}
body.dark-mode .form-container{
  background-color: #1c1c1d;
  color: #ffffff;
}